.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;
  // backdrop-filter: blur(4px);
  input {
    height: 3rem;
    width: 3rem;
    border-radius: 5px;
    cursor: pointer;
  }
}
#root {
  background-image: url(../images/pink.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
// Dark Variables
$dark-primary: #202226;
$dark-secondary: #1b1e23;
$dark-tertiary: #21252c;
// Light Variables
$light-primary: #fff;
$light-secondary: #fff;
$light-tertiary: #fff;
// Pink Variables
$pink-primary: #ff80ce;

// Blue/Green Variables
$blue-primary: #75e3ff;
$blue-secondary: #418276;
