.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;
  // backdrop-filter: blur(4px);
  input {
    height: 3rem;
    width: 3rem;
    border-radius: 5px;
    cursor: pointer;
  }
}
#root {
  background-image: url(../images/pink.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

$primary-dark: #1b1e23;
$secondary-dark: #21252c;
$primary-pink: #ffffff;
$secondary-pink: #ffffff;
