@font-face {
  font-family: monument-black;
  src: url(../fonts/monument/MonumentExtended/PPMonumentExtended-Black.otf);
}
@font-face {
  font-family: monument-black-italic;
  src: url(../fonts/monument/MonumentExtended/PPMonumentExtended-BlackItalic.otf);
}
@font-face {
  font-family: monument-light;
  src: url(../fonts/monument/MonumentExtended/PPMonumentExtended-Light.otf);
}
@font-face {
  font-family: monument-light-italic;
  src: url(../fonts/monument/MonumentExtended/PPMonumentExtended-LightItalic.otf);
}
@font-face {
  font-family: monument-regular;
  src: url(../fonts/monument/MonumentExtended/PPMonumentExtended-Regular.otf);
}
@font-face {
  font-family: monument-regular-italic;
  src: url(../fonts/monument/MonumentExtended/PPMonumentExtended-RegularItalic.otf);
}
