.searchTitle {
  color: white;
  font-family: monument-regular-italic;
  font-weight: normal;
  font-size: 5rem;
  letter-spacing: 1.5rem;
  //   position: absolute;
  //   top: 14rem;
  z-index: 0;
}
