.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;
}
.App input {
  height: 3rem;
  width: 3rem;
  border-radius: 5px;
  cursor: pointer;
}

#root {
  background-image: url(../images/pink.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.searchContainer {
  display: flex;
  width: clamp(16rem, 7.64rem + 44.585vw, 60rem);
  z-index: 2;
}
.searchContainer .searchBar {
  background-color: #fff;
  color: black;
  height: 2.5rem;
  outline: none;
  border: none;
  border-top-left-radius: 2.25rem;
  border-bottom-left-radius: 2.25rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  width: 100%;
  font-family: monument-light-italic;
  font-size: 0.5rem;
  letter-spacing: 3px;
}
.searchContainer .search {
  aspect-ratio: 1/1;
  height: 3.5rem;
  border-top-right-radius: 2.25rem;
  border-bottom-right-radius: 2.25rem;
  background-color: #fff;
  color: white;
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-left: #fff 2px solid;
  outline: 0;
}
.searchContainer .search svg {
  width: 1.25rem;
  height: 1.25rem;
}

@font-face {
  font-family: monument-black;
  src: url(../fonts/monument/MonumentExtended/PPMonumentExtended-Black.otf);
}
@font-face {
  font-family: monument-black-italic;
  src: url(../fonts/monument/MonumentExtended/PPMonumentExtended-BlackItalic.otf);
}
@font-face {
  font-family: monument-light;
  src: url(../fonts/monument/MonumentExtended/PPMonumentExtended-Light.otf);
}
@font-face {
  font-family: monument-light-italic;
  src: url(../fonts/monument/MonumentExtended/PPMonumentExtended-LightItalic.otf);
}
@font-face {
  font-family: monument-regular;
  src: url(../fonts/monument/MonumentExtended/PPMonumentExtended-Regular.otf);
}
@font-face {
  font-family: monument-regular-italic;
  src: url(../fonts/monument/MonumentExtended/PPMonumentExtended-RegularItalic.otf);
}
.searchTitle {
  color: white;
  font-family: monument-regular-italic;
  font-weight: normal;
  font-size: clamp(1.5rem, 0.835rem + 3.547vw, 5rem);
  text-align: center;
  letter-spacing: 1.5rem;
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  margin-top: 6.5rem;
  margin-bottom: 1rem;
}

nav {
  background-color: rgb(171, 234, 255);
  position: absolute;
  height: 100vh;
  width: calc(7vw - 1rem);
  top: 0;
  left: calc(-6vw + 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.25s ease-in-out;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  gap: 1rem;
}
nav input[type=radio] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  border-radius: 10px;
}
nav input[type=radio]:checked {
  border: 1px solid black;
}
nav #theme1 {
  background-image: url(../images/youtube.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
}

.active {
  left: 0;
}

* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}/*# sourceMappingURL=master.css.map */